# 忽略 backend 文件夹下的 __pycache__
Backend/__pycache__/

# 忽略 backend 文件夹下的 venv 目录
Backend/venv/

# 忽略 config.ini 文件
Backend/config.ini

# 忽略 frontend 文件夹下的 node_modules
Frontend/node_modules/

Frontend/.pnp
Frontend/.pnp.js

# testing
Frontend/coverage

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
